.Text{
    color: white;
    font-family: sans-serif;
    padding: 2cm;
    margin-top: -2cm;
}
.Text2{
    font-size: 0.6cm;
    padding-top: 1cm;
}
.metalk{
    line-height: 1cm;
}
.flat-button{
    color: yellowgreen;
    font-size: 20px;
    border-radius: 2cm;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid yellowgreen;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 3.8s backwards;
    white-space: nowrap;

    &:hover{
        background-color: yellowgreen;
        color: #333;
    }
}
#cvic{
    background-color: white;
    font-family: sans-serif;
    padding: 6cm;
    .heading{
        color: black;
        font-size: 0.5cm;
        // padding: 2cm;
        font-weight: 300;
    }
}
.cardSection{
    margin-top: -3cm;
    
    #spotify{
        margin-right: -16cm;
        
    }
    #spotify1{
        margin-right: -16cm;       
        
    }
}
#backk{
    background-color: red;
    border-radius: 0.6cm;
    width: 7cm;
    height: 5cm;
}
#spot{
    background-color: black;
    width: 7cm;
    height: 5cm;
    border-radius: 0.6cm;
}
#purple{
    width: 7cm;
    height: 5cm;
    border-radius: 0.6cm;
    background-color: plum;
    align-items: center;
    #purple1{
        height: 4cm;
        width: 4cm;
       
       
    }
}
#nin{
    height: 4cm;
    width: 4cm;

}
#listen{
    opacity: 0;
    &:hover{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font: 9em sans-serif;
        opacity: 100;
        border-radius: 2rem;
        #butt{
            padding: 2cm;
            margin-top: -4rem;
            color: white;
        }   

    }
}

