.Home{
    background-image: url('./../../assets/images/2125.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;

    .text-zone{
        height: 100vh;
        color: #ffff;
        // transform: translateY(-50%);
        width: 100%;
        max-height: 90%;
        // position: absolute;
        background-color: rgba(0,0,0,0.5);       
    }
    h1{
        font-size: 2cm;
        margin: 0;
        padding: 3cm;
        font-family: 'Coolvetica';
        font-weight: 400;
        animation: fadeIn 1s 1.8s backwards;
    
    }
    h2{
        color: yellowgreen;
        font-family: sans-serif;
        padding-left: 3cm;
        margin-top: -100px;
        font-weight: 400;
        font-size: 0.7cm;
        letter-spacing: 3px;
        animation: fadeIn 1s 2.8s backwards;
        &:hover{
            color: white;
        }

    }
    h3{
       margin-left: 3cm;
    }
    .flat-button{
        color: yellowgreen;
        font-size: 20px;
        border-radius: 2cm;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid yellowgreen;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 3.8s backwards;
        white-space: nowrap;

        &:hover{
            background-color: yellowgreen;
            color: #333;
        }
    }
}
