#navbar{
    font-size: 0.55cm;
    font-weight: 7rem;
    padding-left: 3rem; 
}
#navbar7{
    font-size: 0.55cm;
    font-weight: 7rem;
    padding-left: 3rem;
    margin-right: 17rem; 
}
#navbar2{
    margin-left: 25rem;  
}
#navbar1{
    font-size: 0.5cm;
    font-weight: 3rem;
    background-color: black;
    color: white;
    border-radius: 2.5rem;
    padding: 1rem;
}
#name{
    color: black;
    padding-left: 1.5rem; 
    padding-top: 1.5rem; 
    font-size: 1.7rem;
}
#close{
    padding: 1rem;
}